doctype html
html
	head
		include ./includes/meta.pug
		title 首页
	body
		include ./includes/head.pug
		h1 This is index page!
		img(src="images/turn_start_03.png")
		.bg
		input(type="button" value="首页按钮")
		include ./includes/foot.pug